#root {  
  margin: 0 auto;
  padding: 2rem;  
  padding-top: 6rem;
}

.allApp{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: cadetblue;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;   
}

.header h1,
.header h2 {
  margin: 0;
  /* remove heading gap */
}

.taskCard{
  width: 90%;
  margin: 1rem auto;
  text-align: left;
}
  
